.nameCompany {
	color: #c59a6d;
	font-weight: bold;
}

.container_about {
	display: flex;
	width: 100%;
	gap: 15px;
	flex-wrap: wrap;
}

.img_about {
	max-width: 500px;
}

.p_about {
	width: 50%;
}

.justifyText {
	text-align: justify;
}

.font_bold {
	font-weight: bold;
}

@media screen and (max-width: 1078px) {
	.p_about {
		width: 100%;
	}

	.justifyText {
		text-align: center;
	}
}

@media screen and (max-width: 850px) {
	.img_about {
		max-width: 400px;
	}
}

@media screen and (max-width: 640px) {
	.img_about {
		max-width: 300px;
	}
}
